In [3]:
import pandas as pd
orders = pd.read_table('http://bit.ly/movieusers')
print("Overview of dataframe: ")
print(orders.head())
print("Shape:",orders.shape)
print()
user_cols = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
users = pd.read_table('http://bit.ly/movieusers', sep="|", header=None,
names=user_cols)
print("Dataframe after modifying the default parameter values for read_table: ")
print(users.head())

Overview of dataframe:
   1|24|M|technician|85711
0       2|53|F|other|94043
1      3|23|M|writer|32067
2  4|24|M|technician|43537
3       5|33|F|other|15213
4   6|42|M|executive|98101
Shape: (942, 1)

Dataframe after modifying the default parameter values for read_table:
   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

In [4]:
import pandas as pd

# Read a CSV file
ufo = pd.read_csv('http://bit.ly/uforeports')

print("Overview of UFO data reports: ")
print(ufo.head())
print()

# Series
print("City series (sorted):")
print(ufo.City.sort_values())
print()

# Create a new 'Location' Series

ufo['Location'] = ufo.City + ', ' + ufo.State
print("After creating a new 'Location' Series: ")
print(ufo.head())
print()

# Calculate summary statistics
print("Calculate summary statistics: ")
print(ufo.describe())
print()

# Column names of ufo dataframe
print("Column names of ufo dataframe: ", ufo.columns)
print()

# Rename two columns using the 'rename' method
ufo = ufo.rename(columns={'ColorsReported':'Colors_Reported', 'Shape Reported':'Shape_Reported'})
print("Column names of ufo dataframe after renaming two column names: ", ufo.columns)
print()

# Remove multiple columns at once
ufo = ufo.drop(['City', 'State'], axis=1)
print("Column names of ufo dataframe after removing two columns (city, state): ", ufo.columns)
print()

# Remove multiple rows at once (axis=0 refers to rows)
ufo = ufo.drop([0, 1], axis=0)
print("ufo dataframe after deleting first two rows: ")
print(ufo.head())

Overview of UFO data reports:
                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

City series (sorted):
1761     Abbeville
17809     Aberdeen
2297      Aberdeen
9404      Aberdeen
389       Aberdeen
           ...
12441          NaN
15767          NaN
15812          NaN
16054          NaN
16608          NaN
Name: City, Length: 18241, dtype: object

After creating a new 'Location' Series:
                   City Colors Reported Shape Reported State             Time  \
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

                   Location
0                Ithaca, NY
1           Willingboro, NJ
2               Holyoke, CO
3               Abilene, KS
4  New York Worlds Fair, NY

Calculate summary statistics:
           City Colors Reported Shape Reported  State              Time  \
count     18215            2882          15597  18241             18241
unique     6475              27             27     52             16145
top     Seattle             RED          LIGHT     CA  11/16/1999 19:00
freq        187             780           2803   2529                27

           Location
count         18215
unique         8028
top     Seattle, WA
freq            187

Column names of ufo dataframe:  Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time',
       'Location'],
      dtype='object')

Column names of ufo dataframe after renaming two column names:  Index(['City', 'Colors Reported', 'Shape_Reported', 'State', 'Time',
       'Location'],
      dtype='object')

Column names of ufo dataframe after removing two columns (city, state):  Index(['Colors Reported', 'Shape_Reported', 'Time', 'Location'], dtype='object')

ufo dataframe after deleting first two rows:
  Colors Reported Shape_Reported             Time                  Location
2             NaN           OVAL  2/15/1931 14:00               Holyoke, CO
3             NaN           DISK   6/1/1931 13:00               Abilene, KS
4             NaN          LIGHT  4/18/1933 19:00  New York Worlds Fair, NY
5             NaN           DISK  9/15/1934 15:30           Valley City, ND
6             NaN         CIRCLE   6/15/1935 0:00           Crater Lake, CA

In [5]:
import pandas as pd

# Read a dataset of top-rated IMDb movies into a DataFrame
movies = pd.read_csv('http://bit.ly/imdbratings')

print("Dataframe of top-rated IMDb movies: ")
print(movies.head())
print()

print("Different ways to filter rows of a pandas DataFrame by column value: ")
print("Example: Filter rows to only show movies with a duration of at least 200 minutes")

print("1. Using a for loop")
# Create a list in which each element refers to a DataFrame row: True if the row satisfies the condition, False otherwise
booleans = []
for length in movies.duration:
    if length >= 200:
        booleans.append(True)
    else:
        booleans.append(False)
is_long = pd.Series(booleans)
print(is_long.head())
print()

print("2. Broadcasting")
print(movies[movies.duration >= 200])
print()

print("3. Using the loc method")
print(movies.loc[movies.duration >= 200])

Dataframe of top-rated IMDb movies:
   star_rating                     title content_rating   genre  duration  \
0          9.3  The Shawshank Redemption              R   Crime       142
1          9.2             The Godfather              R   Crime       175
2          9.1    The Godfather: Part II              R   Crime       200
3          9.0           The Dark Knight          PG-13  Action       152
4          8.9              Pulp Fiction              R   Crime       154

                                         actors_list
0  [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
1    [u'Marlon Brando', u'Al Pacino', u'James Caan']
2  [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
3  [u'Christian Bale', u'Heath Ledger', u'Aaron E...
4  [u'John Travolta', u'Uma Thurman', u'Samuel L....

Different ways to filter rows of a pandas DataFrame by column value:
Example: Filter rows to only show movies with a duration of at least 200 minutes
1. Using a for loop
0    False
1    False
2     True
3    False
4    False
dtype: bool

2. Broadcasting
     star_rating                                          title  \
2            9.1                         The Godfather: Part II
7            8.9  The Lord of the Rings: The Return of the King
17           8.7                                  Seven Samurai
78           8.4                    Once Upon a Time in America
85           8.4                             Lawrence of Arabia
142          8.3              Lagaan: Once Upon a Time in India
157          8.2                             Gone with the Wind
204          8.1                                        Ben-Hur
445          7.9                           The Ten Commandments
476          7.8                                         Hamlet
630          7.7                                      Malcolm X
767          7.6                It's a Mad, Mad, Mad, Mad World

    content_rating      genre  duration  \
2                R      Crime       200
7            PG-13  Adventure       201
17         UNRATED      Drama       207
78               R      Crime       229
85              PG  Adventure       216
142             PG  Adventure       224
157              G      Drama       238
204              G  Adventure       212
445       APPROVED  Adventure       220
476          PG-13      Drama       242
630          PG-13  Biography       202
767       APPROVED     Action       205

                                           actors_list
2    [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
7    [u'Elijah Wood', u'Viggo Mortensen', u'Ian McK...
17   [u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K...
78   [u'Robert De Niro', u'James Woods', u'Elizabet...
85   [u"Peter O'Toole", u'Alec Guinness', u'Anthony...
142  [u'Aamir Khan', u'Gracy Singh', u'Rachel Shell...
157  [u'Clark Gable', u'Vivien Leigh', u'Thomas Mit...
204  [u'Charlton Heston', u'Jack Hawkins', u'Stephe...
445  [u'Charlton Heston', u'Yul Brynner', u'Anne Ba...
476  [u'Kenneth Branagh', u'Julie Christie', u'Dere...
630  [u'Denzel Washington', u'Angela Bassett', u'De...
767  [u'Spencer Tracy', u'Milton Berle', u'Ethel Me...

3. Using the loc method
     star_rating                                          title  \
2            9.1                         The Godfather: Part II
7            8.9  The Lord of the Rings: The Return of the King
17           8.7                                  Seven Samurai
78           8.4                    Once Upon a Time in America
85           8.4                             Lawrence of Arabia
142          8.3              Lagaan: Once Upon a Time in India
157          8.2                             Gone with the Wind
204          8.1                                        Ben-Hur
445          7.9                           The Ten Commandments
476          7.8                                         Hamlet
630          7.7                                      Malcolm X
767          7.6                It's a Mad, Mad, Mad, Mad World

    content_rating      genre  duration  \
2                R      Crime       200
7            PG-13  Adventure       201
17         UNRATED      Drama       207
78               R      Crime       229
85              PG  Adventure       216
142             PG  Adventure       224
157              G      Drama       238
204              G  Adventure       212
445       APPROVED  Adventure       220
476          PG-13      Drama       242
630          PG-13  Biography       202
767       APPROVED     Action       205

                                           actors_list
2    [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
7    [u'Elijah Wood', u'Viggo Mortensen', u'Ian McK...
17   [u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K...
78   [u'Robert De Niro', u'James Woods', u'Elizabet...
85   [u"Peter O'Toole", u'Alec Guinness', u'Anthony...
142  [u'Aamir Khan', u'Gracy Singh', u'Rachel Shell...
157  [u'Clark Gable', u'Vivien Leigh', u'Thomas Mit...
204  [u'Charlton Heston', u'Jack Hawkins', u'Stephe...
445  [u'Charlton Heston', u'Yul Brynner', u'Anne Ba...
476  [u'Kenneth Branagh', u'Julie Christie', u'Dere...
630  [u'Denzel Washington', u'Angela Bassett', u'De...
767  [u'Spencer Tracy', u'Milton Berle', u'Ethel Me...

In [6]:
import pandas as pd

# Read a dataset of Chipotle orders into a DataFrame
orders = pd.read_table('http://bit.ly/chiporders')

print("Dataframe: ")
print(orders.head())
print()

print("String methods in pandas: ")

print("'item_name' series (in uppercase): ")
print(orders.item_name.str.upper().head())
print()

print("Checks for a substring 'Chicken' in the given dataframe: ")
print(orders[orders.item_name.str.contains('Chicken')].head())
print()

# Many pandas string methods support regular expressions (regex)
print(orders.choice_description.str.replace('[\[\]]', '').head())
print()

print("Examine the data type of each Series: ")
print(orders.dtypes)
print()

print("Dataframe after replacing '$' and converting string to float of 'item_price' series: ")
print(orders.item_price.str.replace('$', '').astype(float).head())

<>:21: SyntaxWarning: invalid escape sequence '\['
<>:21: SyntaxWarning: invalid escape sequence '\['
/tmp/ipykernel_7645/938015744.py:21: SyntaxWarning: invalid escape sequence '\['
  print(orders.choice_description.str.replace('[\[\]]', '').head())

Dataframe:
   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98

String methods in pandas:
'item_name' series (in uppercase):
0             CHIPS AND FRESH TOMATO SALSA
1                                     IZZE
2                         NANTUCKET NECTAR
3    CHIPS AND TOMATILLO-GREEN CHILI SALSA
4                             CHICKEN BOWL
Name: item_name, dtype: object

Checks for a substring 'Chicken' in the given dataframe:
    order_id  quantity             item_name  \
4          2         2          Chicken Bowl
5          3         1          Chicken Bowl
11         6         1  Chicken Crispy Tacos
12         6         1    Chicken Soft Tacos
13         7         1          Chicken Bowl

                                   choice_description item_price
4   [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5   [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
11  [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $8.75
12  [Roasted Chili Corn Salsa, [Rice, Black Beans,...     $8.75
13  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25

0                                                  NaN
1                                         [Clementine]
2                                              [Apple]
3                                                  NaN
4    [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
Name: choice_description, dtype: object

Examine the data type of each Series:
order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

Dataframe after replacing '$' and converting string to float of 'item_price' series:
0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: item_price, dtype: float64

In [7]:
import pandas as pd

# Read a dataset of alcohol consumption into a DataFrame
drinks = pd.read_csv('http://bit.ly/drinksbycountry')

print("Dataframe: ")
print(drinks.head())
print()

print("Mean beer servings across the entire dataset:", drinks.beer_servings.mean())
print("Mean beer servings just for countries in Africa:", drinks[drinks.continent == 'Africa'].beer_servings.mean())
print()

print("Aggregate functions used with groupby: ")
print()

print("Mean beer servings for each continent:", drinks.groupby('continent').beer_servings.mean())
print("Maximum beer servings for each continent:", drinks.groupby('continent').beer_servings.max())
print()

print("Multiple aggregation functions can be applied simultaneously: ")
print(drinks.groupby('continent').beer_servings.agg(['count', 'mean', 'min', 'max']))

# Specifying a column to which the aggregation function should be applied is not required
print(drinks.groupby('continent').mean())

Dataframe:
       country  beer_servings  spirit_servings  wine_servings  \
0  Afghanistan              0                0              0
1      Albania             89              132             54
2      Algeria             25                0             14
3      Andorra            245              138            312
4       Angola            217               57             45

   total_litres_of_pure_alcohol continent
0                           0.0      Asia
1                           4.9    Europe
2                           0.7    Africa
3                          12.4    Europe
4                           5.9    Africa

Mean beer servings across the entire dataset: 106.16062176165804
Mean beer servings just for countries in Africa: 61.471698113207545

Aggregate functions used with groupby:

Mean beer servings for each continent: continent
Africa            61.471698
Asia              37.045455
Europe           193.777778
North America    145.434783
Oceania           89.687500
South America    175.083333
Name: beer_servings, dtype: float64
Maximum beer servings for each continent: continent
Africa           376
Asia             247
Europe           361
North America    285
Oceania          306
South America    333
Name: beer_servings, dtype: int64

Multiple aggregation functions can be applied simultaneously:
               count        mean  min  max
continent
Africa            53   61.471698    0  376
Asia              44   37.045455    0  247
Europe            45  193.777778    0  361
North America     23  145.434783    1  285
Oceania           16   89.687500    0  306
South America     12  175.083333   93  333

TypeError: agg function failed [how->mean,dtype->object]

In [3]:
import pandas as pd

# UFO Sightings Dataset
ufo = pd.read_csv('http://bit.ly/uforeports')

# Check for null values
print(ufo.isnull().tail())
print(ufo.notnull().tail())

# Count of null values in each column
print(ufo.isnull().sum())

# Shape of the dataset
print(ufo.shape)

# Drop rows where all values are missing
print(ufo.dropna(how='all').shape)

# Drop rows where there are missing values in the 'City' or 'Shape Reported' columns
print(ufo.dropna(subset=['City', 'Shape Reported'], how='any').shape)

# Top 5 most common values in the 'Shape Reported' column
print(ufo['Shape Reported'].value_counts().head())

# Fill in missing values with a specified value
ufo['Shape Reported'] = ufo['Shape Reported'].fillna(value='VARIOUS')

# Confirm that the missing values were filled in
print(ufo['Shape Reported'].value_counts().head())

# Drinks Consumption by Country Dataset
drinks = pd.read_csv('http://bit.ly/drinksbycountry')

# First few rows of the dataset
print(drinks.head())

# Index of the dataset
print(drinks.index)

# Read in a table with a custom separator and no header row
print(pd.read_table('http://bit.ly/movieusers', header=None, sep='|').head())

# Filter the dataset to show only rows where the continent is 'South America'
print(drinks[drinks.continent == 'South America'])

# Select a specific value from the dataset using the index and column labels
print(drinks.loc[23, 'beer_servings'])

# Set the 'country' column as the index of the dataset
drinks.set_index('country', inplace=True)

# First few rows of the dataset with the new index
print(drinks.head())

# Interact with the dataset using its index and columns
print(drinks.describe().loc['25%', 'beer_servings'])

# Access the Series index
print(drinks.continent.value_counts().index)

# Access the Series values
print(drinks.continent.value_counts().values)

# Sort a Series by its values
print(drinks.continent.value_counts().sort_values())

# Create a new Series with population data
people = pd.Series([3000000, 85000], index=['Albania', 'Andorra'], name='population')

# Concatenate the 'drinks' DataFrame with the 'population' Series
print(pd.concat([drinks, people], axis=1).head())

        City  Colors Reported  Shape Reported  State   Time
18236  False             True           False  False  False
18237  False             True           False  False  False
18238  False             True            True  False  False
18239  False            False           False  False  False
18240  False             True           False  False  False
       City  Colors Reported  Shape Reported  State  Time
18236  True            False            True   True  True
18237  True            False            True   True  True
18238  True            False           False   True  True
18239  True             True            True   True  True
18240  True            False            True   True  True
City                  26
Colors Reported    15359
Shape Reported      2644
State                  0
Time                   0
dtype: int64
(18241, 5)
(18241, 5)
(15575, 5)
Shape Reported
LIGHT       2803
DISK        2122
TRIANGLE    1889
OTHER       1402
CIRCLE      1365
Name: count, dtype: int64
Shape Reported
VARIOUS     2977
LIGHT       2803
DISK        2122
TRIANGLE    1889
OTHER       1402
Name: count, dtype: int64
       country  beer_servings  spirit_servings  wine_servings  \
0  Afghanistan              0                0              0
1      Albania             89              132             54
2      Algeria             25                0             14
3      Andorra            245              138            312
4       Angola            217               57             45

   total_litres_of_pure_alcohol continent
0                           0.0      Asia
1                           4.9    Europe
2                           0.7    Africa
3                          12.4    Europe
4                           5.9    Africa
RangeIndex(start=0, stop=193, step=1)
   0   1  2           3      4
0  1  24  M  technician  85711
1  2  53  F       other  94043
2  3  23  M      writer  32067
3  4  24  M  technician  43537
4  5  33  F       other  15213
       country  beer_servings  spirit_servings  wine_servings  \
6    Argentina            193               25            221
20     Bolivia            167               41              8
23      Brazil            245              145             16
35       Chile            130              124            172
37    Colombia            159               76              3
52     Ecuador            162               74              3
72      Guyana             93              302              1
132   Paraguay            213              117             74
133       Peru            163              160             21
163   Suriname            128              178              7
185    Uruguay            115               35            220
188  Venezuela            333              100              3

     total_litres_of_pure_alcohol      continent
6                             8.3  South America
20                            3.8  South America
23                            7.2  South America
35                            7.6  South America
37                            4.2  South America
52                            4.2  South America
72                            7.1  South America
132                           7.3  South America
133                           6.1  South America
163                           5.6  South America
185                           6.6  South America
188                           7.7  South America
245
             beer_servings  spirit_servings  wine_servings  \
country
Afghanistan              0                0              0
Albania                 89              132             54
Algeria                 25                0             14
Andorra                245              138            312
Angola                 217               57             45

             total_litres_of_pure_alcohol continent
country
Afghanistan                           0.0      Asia
Albania                               4.9    Europe
Algeria                               0.7    Africa
Andorra                              12.4    Europe
Angola                                5.9    Africa
20.0
Index(['Africa', 'Europe', 'Asia', 'North America', 'Oceania',
       'South America'],
      dtype='object', name='continent')
[53 45 44 23 16 12]
continent
South America    12
Oceania          16
North America    23
Asia             44
Europe           45
Africa           53
Name: count, dtype: int64
             beer_servings  spirit_servings  wine_servings  \
Afghanistan              0                0              0
Albania                 89              132             54
Algeria                 25                0             14
Andorra                245              138            312
Angola                 217               57             45

             total_litres_of_pure_alcohol continent  population
Afghanistan                           0.0      Asia         NaN
Albania                               4.9    Europe   3000000.0
Algeria                               0.7    Africa         NaN
Andorra                              12.4    Europe     85000.0
Angola                                5.9    Africa         NaN

In [15]:
import pandas as pd

# Read a CSV file
ufo = pd.read_csv('http://bit.ly/uforeports')

print("Dataframe: ")
print(ufo.head(3))
print()

print("Selecting multiple rows and columns from a pandas Data Frame using 'loc': ")
print()

# loc method is used to select rows and columns by label
print("First row, all columns: ")
print(ufo.loc[0, :])
print()

print("First 3 rows, all columns: ")
print(ufo.loc[[0, 1, 2], :])
print()

# rows 0 through 2 (inclusive), all columns
print(ufo.loc[0:2, :])
print()

# this implies "all columns", but explicitly stating "all columns" is better
print(ufo.loc[0:2, :])
print()

print("First 3 rows, only one column 'City': ")
print(ufo.loc[0:2, 'City'])
print()

print("First 3 rows, two columns 'City' and 'State': ")
print(ufo.loc[0:2, ['City', 'State']])
print()

print("Accomplish the same thing using double brackets: ")
# using 'loc' is preferred since it's more explicit
print(ufo[['City', 'State']].head(3))
print()

print("First 3 rows, columns 'City' through 'State': ")
print(ufo.loc[0:2, 'City':'State'])
print()

print("Accomplish the same thing using 'head' and 'drop': ")
print(ufo.head(3).drop('Time', axis=1))
print()

print("Rows in which the 'City' is 'Oakland', column 'State': ")
print(ufo.loc[ufo.City == 'Oakland', 'State'])
print()

print("Accomplish the same thing using 'chained indexing': ")
# using 'loc' is preferred since chained indexing can cause problems
print(ufo[ufo.City == 'Oakland'].State)
print()

print("Selecting multiple rows and columns from a pandas DataFrame using 'iloc': ")
print()

print("Rows in positions 0 and 1, columns in positions 0 and 3: ")
print(ufo.iloc[[0, 1], [0, 3]])
print()

print("Rows in positions 0 through 2 (exclusive), columns in positions 0 through 4 (exclusive): ")
print(ufo.iloc[0:2, 0:4])
print()

print("Rows in positions 0 through 2 (exclusive), all columns: ")
print(ufo.iloc[0:2, :])
print()

Dataframe:
          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00

Selecting multiple rows and columns from a pandas Data Frame using 'loc':

First row, all columns:
City                       Ithaca
Colors Reported               NaN
Shape Reported           TRIANGLE
State                          NY
Time               6/1/1930 22:00
Name: 0, dtype: object

First 3 rows, all columns:
          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00

First 3 rows, only one column 'City':
0         Ithaca
1    Willingboro
2        Holyoke
Name: City, dtype: object

First 3 rows, two columns 'City' and 'State':
          City State
0       Ithaca    NY
1  Willingboro    NJ
2      Holyoke    CO

Accomplish the same thing using double brackets:
          City State
0       Ithaca    NY
1  Willingboro    NJ
2      Holyoke    CO

First 3 rows, columns 'City' through 'State':
          City Colors Reported Shape Reported State
0       Ithaca             NaN       TRIANGLE    NY
1  Willingboro             NaN          OTHER    NJ
2      Holyoke             NaN           OVAL    CO

Accomplish the same thing using 'head' and 'drop':
          City Colors Reported Shape Reported State
0       Ithaca             NaN       TRIANGLE    NY
1  Willingboro             NaN          OTHER    NJ
2      Holyoke             NaN           OVAL    CO

Rows in which the 'City' is 'Oakland', column 'State':
1694     CA
2144     CA
4686     MD
7293     CA
8488     CA
8768     CA
10816    OR
10948    CA
11045    CA
12322    CA
12941    CA
16803    MD
17322    CA
Name: State, dtype: object

Accomplish the same thing using 'chained indexing':
1694     CA
2144     CA
4686     MD
7293     CA
8488     CA
8768     CA
10816    OR
10948    CA
11045    CA
12322    CA
12941    CA
16803    MD
17322    CA
Name: State, dtype: object

Selecting multiple rows and columns from a pandas DataFrame using 'iloc':

Rows in positions 0 and 1, columns in positions 0 and 3:
          City State
0       Ithaca    NY
1  Willingboro    NJ

Rows in positions 0 through 2 (exclusive), columns in positions 0 through 4 (exclusive):
          City Colors Reported Shape Reported State
0       Ithaca             NaN       TRIANGLE    NY
1  Willingboro             NaN          OTHER    NJ

Rows in positions 0 through 2 (exclusive), all columns:
          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00

In [8]:
import pandas as pd

print("Creating dummy variables in pandas: ")
print()

# Read the training dataset from Kaggle's Titanic competition
train = pd.read_csv('http://bit.ly/kaggletrain')

print("Dataframe: ")
print(train.head())
print()

# Use 'get_dummies' to create one column for every possible value
print(pd.get_dummies(train['Sex']).head())
print()

# Drop the first dummy variable ('female') using the 'iloc' method
print(pd.get_dummies(train['Sex']).iloc[:, 1:].head())
print()

# Add a prefix to identify the source of the dummy variables
print(pd.get_dummies(train['Sex'], prefix='Sex').iloc[:, 1:].head())
print()

# Use 'get_dummies' with a feature that has 3 possible values
print(pd.get_dummies(train['Embarked'], prefix='Embarked').head(10))
print()

# Drop the first dummy variable ('C')
print(pd.get_dummies(train['Embarked'], prefix='Embarked').iloc[:, 1:].head(10))
print()

# Reset the DataFrame
train = pd.read_csv('http://bit.ly/kaggletrain')

print("Dataframe: ")
print(train.head())
print()

# Pass the DataFrame to 'get_dummies' and specify which columns to dummy (it drops the original columns)
print(pd.get_dummies(train, columns=['Sex', 'Embarked']).head())
print()

# Use the 'drop_first' parameter (new in pandas 0.18) to drop the first dummy variable for each feature
print(pd.get_dummies(train, columns=['Sex', 'Embarked'], drop_first=True).head())

Creating dummy variables in pandas:

Dataframe:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

   female   male
0   False   True
1    True  False
2    True  False
3    True  False
4   False   True

    male
0   True
1  False
2  False
3  False
4   True

   Sex_male
0      True
1     False
2     False
3     False
4      True

   Embarked_C  Embarked_Q  Embarked_S
0       False       False        True
1        True       False       False
2       False       False        True
3       False       False        True
4       False       False        True
5       False        True       False
6       False       False        True
7       False       False        True
8       False       False        True
9        True       False       False

   Embarked_Q  Embarked_S
0       False        True
1       False       False
2       False        True
3       False        True
4       False        True
5        True       False
6       False        True
7       False        True
8       False        True
9       False       False

Dataframe:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name   Age  SibSp  Parch  \
0                            Braund, Mr. Owen Harris  22.0      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0      1      0
2                             Heikkinen, Miss. Laina  26.0      0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0      1      0
4                           Allen, Mr. William Henry  35.0      0      0

             Ticket     Fare Cabin  Sex_female  Sex_male  Embarked_C  \
0         A/5 21171   7.2500   NaN       False      True       False
1          PC 17599  71.2833   C85        True     False        True
2  STON/O2. 3101282   7.9250   NaN        True     False       False
3            113803  53.1000  C123        True     False       False
4            373450   8.0500   NaN       False      True       False

   Embarked_Q  Embarked_S
0       False        True
1       False       False
2       False        True
3       False        True
4       False        True

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name   Age  SibSp  Parch  \
0                            Braund, Mr. Owen Harris  22.0      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0      1      0
2                             Heikkinen, Miss. Laina  26.0      0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0      1      0
4                           Allen, Mr. William Henry  35.0      0      0

             Ticket     Fare Cabin  Sex_male  Embarked_Q  Embarked_S
0         A/5 21171   7.2500   NaN      True       False        True
1          PC 17599  71.2833   C85     False       False       False
2  STON/O2. 3101282   7.9250   NaN     False       False        True
3            113803  53.1000  C123     False       False        True
4            373450   8.0500   NaN      True       False        True